<launch>

  <arg name="world_name" default="tunnel"/>
  <arg name="vehicleHeight" default="0.75"/>
  <arg name="cameraOffsetZ" default="0"/>
  <arg name="vehicleX" default="0"/>
  <arg name="vehicleY" default="0"/>
  <arg name="terrainZ" default="0"/>
  <arg name="vehicleYaw" default="0"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="checkTerrainConn" default="false"/>

  <include file="$(find ps3joy)/launch/ps3.launch" />

  <include file="$(find local_planner)/launch/local_planner.launch" >
    <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
    <arg name="goalX" value="$(arg vehicleX)"/>
    <arg name="goalY" value="$(arg vehicleY)"/>
  </include>

  <include file="$(find terrain_analysis)/launch/terrain_analysis.launch" />

  <include file="$(find terrain_analysis_ext)/launch/terrain_analysis_ext.launch" >
    <arg name="checkTerrainConn" value="$(arg checkTerrainConn)"/>
  </include>

  <include file="$(find vehicle_simulator)/launch/vehicle_simulator.launch" >
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="vehicleHeight" value="$(arg vehicleHeight)"/>
    <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
    <arg name="vehicleX" value="$(arg vehicleX)"/>
    <arg name="vehicleY" value="$(arg vehicleY)"/>
    <arg name="terrainZ" value="$(arg terrainZ)"/>
    <arg name="vehicleYaw" value="$(arg vehicleYaw)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <include file="$(find sensor_scan_generation)/launch/sensor_scan_generation.launch" />

  <include file="$(find visualization_tools)/launch/visualization_tools.launch" >
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizGA" args="-d $(find vehicle_simulator)/rviz/vehicle_simulator.rviz" respawn="true"/>
  
  	<node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
		<param name="target_frame_name" value="map" />
		<param name="source_frame_name" value="sensor" />
	</node>

	<!-- Octomap -->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.05" />
		<param name="frame_id" type="string" value="map" />
		<param name="sensor_model/min_range" value="0.5" />
		<param name="sensor_model/max_range" value="100.0" />
		<param name="latch" value="false" />
		<param name="filter_ground" value="false" />
		<remap from="cloud_in" to="/registered_scan" />
		<param name="publish_free_space" value="true" />
		<param name="occupancy_min_z" value="0.1" />
		<param name="occupancy_max_z" value="1.0" />
	</node>
	
	<!-- RN Exploration -->
	<include file="$(find rrg_nbv_exploration)/launch/simple.launch">
		<arg name="robot_frame" value="sensor" />
		<arg name="update_frequency" value="1" />
		<arg name="robot_radius" value="0.7" />
		<arg name="robot_width" value="0.7" />
		<arg name="sensor_height" value="0.75" />
		<arg name="sensor_size" value="0.05" />
		<arg name="sensor_max_range" value="100.0" />
		<arg name="sensor_min_range" value="0.5" />
		<arg name="delta_radius" value="0.05" />
		<arg name="delta_phi" value="10" />
		<arg name="delta_theta" value="10" />
		<arg name="sensor_horizontal_fov" value="360" />
		<arg name="sensor_vertical_fov_bottom" value="105" /> <!-- range from 180 to 0 as the highest angle -->
		<arg name="sensor_vertical_fov_top" value="75" />
		<arg name="min_view_score" value="0.05" />
		<arg name="occupancy_grid_topic" value="/projected_map" />
		<arg name="local_exploration_finished_timer_duration" value="10.0" />
		<arg name="oc_resolution" default="0.05" />
		<arg name="grid_map_resolution" default="0.05" />
		<arg name="grid_map_occupied" default="99" />
		<arg name="grid_map_unknown" default="-1" />
		<arg name="local_sampling_radius" value="10" />
		<arg name="local_graph_radius" value="15" />
		<arg name="max_node_height_difference" default="1.0" />
		<arg name="samples_per_loop" default="10" />
	</include>

</launch>